h1 {
  background-color: white;
  font-family: Arial, Calibry, sans-serif;
  margin-bottom: 50px;
}

body {
  
  font-family: 'Calibri (Body)', Times, serif;
  text-align: center;
  font-size: 20px;
  background: rgb(2,0,36);
  height: 650px;
background: linear-gradient(121deg, rgba(2,0,36,1) 0%, rgba(16,144,136,1) 51%, rgba(0,212,255,1) 100%);
}

input, label, select {
  text-align: center;
  width: 80px;	
  font-size: 28px;
}

#input {
  font-size: 28px;
}

button {
  font-size: 150%;
  font-weight: thick;
  width: 25%;
  margin: 30px auto;
  padding: 10px 15px;
  background-color: #256bbe;
  border: thick;
  color: black;
  cursor: pointer;
}
#S1,#S2 {
  display: none;
}
#background {
  margin-left: 275px;
  margin-top: 75px;
  max-width: 900px;
  background: #FFF;
  width: 1600px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  height: 75vh;
  border-radius: 25px;
  border: 5px solid #3B3E50;
}
